<div class="max-w-md mx-auto bg-gray-400 p-3 pt-2 rounded">
    <h2 class="text-xl font-semibold mb-4 text-center mt-2">Dashboard</h2>
    <div *ngIf="currentUser">
      <p>Email: {{ currentUser.email }}</p>
      <p>Name: {{ currentUser.username }}</p>
      <p>Gender: {{ currentUser.gender }}</p>
    </div>
    <button (click)="logout()" class="btn bg-red-500 p-2 ms-40 rounded">log out</button>
    <h4>Basic mat-select</h4>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        @for (food of foods; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <h4>Basic native select</h4>
    <mat-form-field>
      <mat-label>Cars</mat-label>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field>
    
  </div>

  <mat-tab-group class="pb-5">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  
